# Скопируйте в .env и заполните своими значениями:
# cp .env.example .env

# HTTP Server
HTTP_PORT=8080

# Вариант 1 - одна строка подключения
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/notes

# Вариант 2 - отдельные переменные
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=notes
DB_SSLMODE=disable
DB_MAX_CONNS=10

# JWT
JWT_SECRET=
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h   # 7 days